footer {
    background-color: $colour-tertiary;
}

.footer {
    display :flex;
    flex-direction: column;
    align-items: start;
    margin-left: 24px;
    padding-bottom: 16px;
    @media (min-width: $min-width) {
        flex-direction: row;
        align-items: baseline;
        justify-content: flex-end !important;
        margin-right: 32px;
        padding-bottom: 32px;
        padding-top: 56px;
    }
    &__title {
        color: $colour-primary;
        line-height: 26px;
        margin-top: 24px;
        margin-bottom: 16px;
        font-family: 'Shrikhand', sans-serif;
        font-size: 18px;
        @media (min-width: $min-width) {
            order: 1;
            margin-left: 88px;
            margin-right: 32px;
        }
    }
    &__section {
        display: flex;
        flex-direction: column;
        @media (min-width: $min-width) {
            flex-direction: row;
            margin-right: 32px;
            order: 0;
        }
        &--a {
            color: $colour-primary;
            margin-bottom: 8px;
            text-decoration: none;
            @media (min-width: $min-width) {
                margin-left: 8px;
                margin-right: 8px;
            }
        } 
        & i {
            width: 18px;
            text-align: center;
            margin-right: 8px;
        }
    }
}
