.header {
    height: 64px;
    width: 100%;
    display: inline-flex;
    &__logo {
        display: flex;
        height: 48px;
        width: 160px;
        object-fit: contain;
        margin: 0 auto;
        padding-bottom: 8px;
        padding-top: 16px;
    }
    &__a {
        @include a;
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 24px;
        & .fa-solid {
            height: 16px;
            width: 16px;
            font-weight: 700;
            color: $colour-tertiary;
        }
    }
}