.resto {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 274px;
    width: 100%;
    &__img {
        object-fit: cover;
        width: 100%;
        position: absolute;        
        height: 275px;
    }
}
.menu {
    margin: 0px auto;
    width: 100%;
    background-color: $colour-background-primary;
    @media (min-width: $min-width) {
        width: 70%;
    }
    &__title {
        background-color: $colour-background-primary;
        border-top-right-radius: map-get($border-radius, container);
        border-top-left-radius:  map-get($border-radius, container);
        padding-left: 16px;
        padding-top : 32px;
        transform: translateY(-40px);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media (min-width: $min-width) {
            justify-content: center;
        }
        & .icon {
            background-color: $colour-background-primary;
            transform: translateY(8px);
            margin-right: 40px;
            margin-left: 24px;
            & input:checked ~ .fa,
            & .fa:hover {
                @include heartSelected;
            }
        }
    }
    &__main {
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        width: 100%;
        @media (min-width: $min-width) {
            width: 60%;
            margin: 0 auto;
            padding-top: 16px;
        }
        &--categorie{
            display: flex;
            flex-direction: column;
            width: 100%;
            row-gap: 16px;
            padding-bottom: 40px;
            & h2 {
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 300;
                padding-bottom: 4px;
                padding-left: 16px;
                position: relative;
                &::before {
                    position: absolute;
                    width: 40px;
                    content: "";
                    border-bottom: 3px solid $colour-background-new;
                    transform: translateY(24px);
                }
            }
            & .card {
                overflow-x: hidden;
                white-space: nowrap;
                margin-left: 16px;
                margin-right: 16px;
                height: 72px;
                padding-right: 16px;
                border-radius: map-get($border-radius, card);
                position: relative;
                cursor: pointer;
                @include card-menu;
                & input:checked ~ .toggle {
                    animation: translate-price 500ms linear both;
                }
                & input:not(:checked) ~ .toggle {
                    animation: translate-price-reverse 500ms linear both;
                }
                & .toggle {
                    position: absolute;
                    top: 0px;
                    right: -64px;
                    height: 100%;
                    color: $colour-primary;
                    display: inline-flex;
                    & .check {
                        display: flex;
                        height: 100%;
                        width: 64px;
                        background-color: $colour-background-new;
                        color: $colour-primary;
                        border-top-right-radius: map-get($border-radius, card);
                        border-bottom-right-radius: map-get($border-radius, card);
                        position: relative;
                        & .fa-solid{
                            position: absolute;
                            top: 50%;
                            left: 30%;
                        }
                    }
                    & .price {
                        width: 32px;
                        margin-top: 40px;
                        margin-right: 16px;
                        font-weight: 700;
                        font-size: 15px;
                        color: $colour-tertiary;
                    }
                }
                & input:checked ~ .card__text {
                    margin-right: 96px;
                }
                &__text {
                    margin-right: 64px;
                    padding-left: 16px;
                    padding-right: 16px;
                    padding-bottom: 12px;
                    padding-top: 12px;
                    row-gap: 8px;
                    font-style: normal;
                    display: flex;
                    flex-direction: column;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    &--title { 
                        font-weight: 500;
                        font-size: 18px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                    &--complement {
                        font-size: 15px;
                        font-weight: 300;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }
        }
        & .command {
            align-self: center;
        }
    }
}