.loading {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    animation-name: loading;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-timing-function: step-end;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    background-color: $colour-background-primary;
    & p {
        padding-top: 40px;
    }
    & * {
        margin: 0px auto;
        margin-top: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 32px;
        font-size: 24px;
        text-align: center;
        top: 35%;
        transform: translate(0%, -50%);
    }
    &__circles{
        height: 40px;
        width: 40px;
        align-items: center;
        vertical-align: middle;
        border-radius: map-get($border-radius, circle);
        border: 3px solid transparent;
        border-top-color: $colour-secondary;
        animation: spin 800ms linear infinite;
        &::before {
            content: "";
            position: absolute;
            top: 12px;
            left: 12px;
            bottom: 12px;
            right: 12px;
            border-radius: map-get($border-radius, circle);
            border: 2px solid transparent;
            border-top-color: $colour-secondary;
            border-bottom-color: $colour-secondary;
            opacity: 0.5;
            animation: spinreverse 8s linear infinite;
        }
        &::after {
            content: "";
            position: absolute;
            top: 4px;
            left: 4px;
            bottom: 4px;
            right: 4px;
            border-radius: map-get($border-radius, circle);
            border: 3px solid transparent;
            border-top-color: $colour-secondary;
            opacity: 0.8;
            animation: spin 3s linear infinite;
        }
        @keyframes spin {
            0% { transform: rotate(0deg);}
            100% { transform: rotate(360deg);}
        }
        @keyframes spinreverse {
            0% { transform: rotate(0deg);}
            100% { transform: rotate(-360deg);}
        }
    }
}
@keyframes loading {
    0% {
        opacity: 1; 
        z-index: 9999;
    }
    100% { 
        opacity: 0; 
        z-index: -1;
    }
}

.display-dishes {
    transform-origin: left;
    animation-name: display-dishes;
    animation-duration: 1000ms;
    animation-fill-mode: both;
    animation-timing-function: linear;
    @for $i from 1 through $num-dishes {
        &--#{$i} {
            animation-delay: $anim-delay * $i + 2000ms;
        }
    }
}

@keyframes display-dishes {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

.display-categorie {
    animation: display-categorie 1700ms 150ms linear both;
}

@keyframes display-categorie {
0% {
    transform: translateY(-9999px);
}
100% {
    transform: translateY(0);
    }
}

@keyframes translate-price {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-64px);
    }
}