.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 56px;
    background-color: $colour-background-primary;
    &__title {
        margin-bottom: 8px;
        margin-left: 40px;
        margin-right: 40px;
        font-weight: 700;
        @media (min-width: $min-width) {
            margin-bottom: 32px;
        }
    }
    &__subtitle {
        margin-left: 32px;
        margin-right: 32px;
        color: $colour-tertiary;
    }
}