.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__title {
        margin-bottom: 8px;
        margin-left: 40px;
        margin-right: 40px;
    }
    & p {
        margin-left: 32px;
        margin-right: 32px;
    }
    & .btn {
        margin-top: 32px;
    }
}


