.location {
    height: 48px;
    width: 100%;
    background-color: $colour-background-secondary;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 16px;
}

.location .fa-solid {
    color: $colour-tertiary;
}
