.working {
    margin: 0px auto;
    padding: 0px;
    background-color: $colour-primary;
    margin-top: 48px;
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    @media (min-width: $min-width) {
        margin-left: 192px;
        margin-right: 192px;
    }
    &__title {
        padding-left: 16px;
        @media (min-width: $min-width) {
            padding-left: 0px;
        }
    }
    &__stickers {
        margin-left: 16px;
        margin-right: 16px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        @media (min-width: $min-width) {
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 32px;
        }
        & .sticker {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-left: 32px;
            margin-right: 32px;
            height: 72px; 
            width: 100%;
            border-radius: 20px;
            border: none;
            background: $colour-background-tertiary;
            @include box-working;
            @media (min-width: $min-width) {
                width: 304px;
                margin: 0px;
            }
            &--rounded{
                transform: translateX(-.7rem);
                height: 24px;
                width: 24px;
                font-size: 14px;
                color: $colour-primary;
                background-color: $colour-secondary;
                border-radius: 50px;
                & p {
                    transform: translateY(.3rem);
                    font-size: 13px;
                    overflow-wrap: auto;
                }
            }
            & i {
                margin-right: 24px;
                margin-left: 16px;
            }
            & .fa-solid {
                color: $colour-quaternary;
            }
            & .fa-store {
                color: $colour-secondary;
            }
        }
    }
}
