/*
@mixin heading-shadow($colour:lightness-shift($colour-primary), $offset: $heading-shadow-size){
    text-shadow: $offset $offset $colour;
}

@mixin border($colour:$colour-primary) {
    border: .1rem solid $colour;
}

@mixin img-ratio {
    width: 100%;
        display: block;
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }
}
*/
@mixin btn {
    color: $colour-white;
    text-align: center;
    background: $colour-background-btn;
    height: 48px;
    width: 216px;
    border: none;
    cursor: pointer;
    &:hover{
        background: $colour-secondary;
    }
}

@mixin btn-border {
    border-radius: 25px;
}
