@mixin btn {
    color: $colour-white;
    text-align: center;
    background: $colour-background-btn;
    height: 48px;
    width: 216px;
    border: none;
    cursor: pointer;
    &:hover{
        background: linear-gradient(193.33deg, lighten(#9356DC, 8%),  lighten(#FF79DA, 8%));
        box-shadow: map-get($shadows, btn-dark);
    }
}

@mixin btn-border {
    border-radius: 25px;
}

@mixin btn-shadow {
    box-shadow: map-get($shadows, btn);
}

@mixin btn-working {
    box-shadow: map-get($shadows, btn-working);
}

@mixin a {
    text-decoration: none;
    color: black;
}