$colour-background-new: #99E2D0;
$colour-whrite-new: #008766; 
$colour-secondary: #9356DC;
$colour-background-btn: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$colour-white: #fff;
$colour-background-secondary : #EAEAEA;
$colour-tertiary: #353535;